body {
    background-color: snow;
}

h4 {
    text-align: center;
}

.col-3 {
    padding-right: 0;
}

.card {
    padding-top: 15px;
}

.img-thumbnail {
    margin-left: 10px;
}

.about-me {
    display: inline-block;
    margin-left: 20px;
}